{
    font-family; Arial, Helvetica, sans-serit;
    font-size; 16px;
}

body {
    background-color: rgb(11, 7, 0) (204, 157, 248);

}
main {
    background-color: rgb(238, 165, 223);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: rgba(82, 64, 3, 0.326); 3px 3px 5px;
}