{
    font-family; Arial, Helvetica, sans-serit;
    font-size; 16px;
}

body {
    background-color: black (204, 157, 248);

}
main {
    background-color: rgb(186, 168, 129);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 0cap; 3px 3px 5px;
}