{
    font-family; Arial, Helvetica, sans-serit;
    font-size; 16px;
}

body {
    background-color: rgb(66, 44, 6) (204, 157, 248);

}
main {
    background-color: rgb(221, 119, 201);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 0cap; 3px 3px 5px;
}